.app-container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.app-container > .app-component {
  margin-bottom: 25px;
}

.loading-screen > img, .error-screen > img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}